:root {
  --color-1: #303131;
  --color-2: #294f60;
  --color-3: #f3832d;
  --color-4: #ffffff;
  // --color-5: #1658e6; //Für bessere sichtbarkeit beim coden
  --color-5: #f6f6f6;
  --color-6: #f0ea6e;
  --fontSize-1: 16px;
  --fontSize-2: 20px;
  --fontSize-3: 24px;
  --fontSize-4: 26px;
  --fontSize-5: 28px;
  --fontSize-6: 32px;
  --fontSize-7: 40px;
  --fontSize-8: 48px;
  --fontSize-9: 54px;
  --fontSize-10: 140px;
  --fontFam-alm: "almarai";
  --fontFam-orb: "orbitron";
  --fontFam-rr: "red rose";
  --fontFam-del-un: "Delius Unicase";
  --fontFam-fig: "Figtree";
  --pad-px: 170px;
}
