body {
  &.game {
    &[data-theme="coding"] {
      background-color: var(--color-1);
      font-family: var(--fontFam-rr);
      #field {
        .game-field-section {
          header {
            height: 62px;
            align-items: end;
            border-radius: 0;
            padding: 0;
            .btn {
              border-radius: 0;
              padding: 16px 24px;
              background-color: #86e9d633;
              border: 1px solid #4dd5bc;
              width: 207px;
              height: 62px;
              color: var(--color-4);
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              font-size: var(--fontSize-3);
            }
            .current-player {
              color: var(--color-4);
              font-size: var(--fontSize-4);
            }
            .player-wrapper {
              height: 100%;
              background-color: #86e9d633;
              width: 292px;
              display: flex;
              align-items: center;
              font-size: var(--fontSize-3);
              font-weight: 700;
              padding: 17px 20px;
              gap: 20px;
              border-radius: 0;
              .player-icon {
                width: 24px;
                height: 20px;
                &.orange {
                  background-image: url(/assets/icons/orange.svg);
                }
                &.blue {
                  background-image: url(/assets/icons/blue.svg);
                }
              }
              .player-name {
                display: block;
              }
            }
          }
        }
      }
      .currentplayer-bg {
        background-color: transparent;
        width: auto;
        height: auto;
        padding: 0;
        .player-icon.currentplayer {
          mask-image: none;
          -webkit-mask-image: none;
          background-color: transparent;
          width: 24px;
          height: 20px;
        }
        &.blue .player-icon.currentplayer {
          background-image: url(/assets/icons/blue.svg);
        }
        &.orange .player-icon.currentplayer {
          background-image: url(/assets/icons/orange.svg);
        }
      }
    }
  }
}
