@use "../abstract/mixins" as *;

body {
  &.game {
    &[data-theme="foods"] {
      font-family: var(--fontFam-del-un);

      .card--matched {
        .card__face--front {
          border: 3px solid #f3832d;
        }
      }
      &:has(.win-screen) {
        background-color: #f3832d;
      }
      &:has(.is-draw) {
        background-color: #f3832d;
        @include flex-center;
        transform: translateY(30%);
        .btn {
          background-color: var(--color-4);
        }
      }
      &:has(.end-screen) {
        background-color: var(--color-4);
      }
      header {
        background-color: #f0f3f4;
        .btn {
          font-size: var(--fontSize-1);
          background-color: #ffffff;
          border: 3px solid #f3832d;
          color: #f3832d;
          font-family: var(--fontFam-del-un);
          .exit-icon {
            background-color: #f3832d;
          }
        }
        .current-player {
          color: #a45212;
          font-size: var(--fontSize-6);
        }
      }

      .win-screen {
        gap: 24px;
        &:has(.end-screen) {
          height: 100%;
          background-color: #ffffff;
        }
        h1 {
          text-transform: uppercase;
          font-size: 130px;
          color: var(--color-4);
          font-family: var(--fontFam-klee);
          padding-bottom: 32px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        p {
          font-family: var(--fontFam-klee);
          color: var(--color-4);
          font-size: 42px;
        }
      }

      .btn {
        font-family: var(--fontFam-del-un);
        &.back {
          color: var(--color-4);
          border: 3px solid #f3832d;
          background-color: #ffab3e;
          &:hover {
            background: #f3832d;
            border: 3px solid #f3832d;
          }
        }
        &#exit-btn:hover {
          color: var(--color-4);
          background: #f3832d;
          box-shadow: 3px 3px 5px 0px #2f2e2e33;
        }
      }

      .quit-menu-overlay {
        .menu-field {
          text-align: center;
          p {
            font-family: var(--fontFam-klee);
            font-size: var(--fontSize-5);
            font-weight: 600;
            color: #a45212;
          }
        }
      }

      .win-screen:has(.end-screen) {
        color: #a45212;
        h1 {
          font-size: 80px;
          color: #a45212;
        }
        p {
          font-size: var(--fontSize-7);
          color: #a45212;
          font-weight: 100;
        }
        .btn {
          color: var(--color-4);
          font-size: var(--fontSize-1);
          &.menu {
            background-color: #f3832d;
          }
        }
      }
      &:has(#field.end-screen) {
        background-color: var(--color-4);
      }
      .final-img {
        background-color: #f7e6d5;
        padding: 14px;
        background-origin: content-box;
        box-shadow: 3px 3px 6px 0px #00000040;
        &.orange {
          background-image: url(/assets/icons/orange_chess_pawn.svg);
        }
        &.blue {
          background-image: url(/assets/icons/blue_chess_pawn.svg);
        }
      }
    }
  }
}
