@use "../abstract/mixins" as *;
body {
  &.game {
    &[data-theme="gaming"] {
      background-color: var(--color-2);
      font-family: var(--fontFam-orb);
      #field {
        .game-field-section {
          header {
            background-color: #fd96c933;
            .btn--game {
              color: var(--color-4);
            }

            .current-player {
              color: var(--color-4);
              font-size: var(--fontSize-6);
            }
          }
          .win-screen {
            gap: 24px;
            h1 {
              font-size: 124px;
              font-weight: 900;
              color: #ed1b76;
              font-family: var(--fontFam-orb);
              letter-spacing: 2px;
              padding-bottom: 88px;
            }
            p {
              color: var(--color-4);
              font-size: var(--fontSize-5);
            }
          }
        }
      }
      .card {
        @include flex-center;
        background: white;
        border-radius: 12px;
      }
      .btn {
        background-color: #ed1b7614;
        border: 2px solid #e71c4f;
        color: var(--color-4);
        font-family: var(--fontFam-orb);
        &.exit {
          color: #ed1b76;
          width: 100%;
          height: 44px;
        }
        &.back {
          background-color: #ed1b76;
          width: 100%;
          height: 44px;
        }
      }
      .quit-menu-overlay {
        text-align: center;
        .menu-field {
          .btn-wrapper {
            width: 100%;
          }
          p {
            font-size: var(--fontSize-5);
            font-weight: 700;
          }
        }
      }
    }
  }
}
.player-icon {
  width: 22px;
  height: 28px;
}
